NEXT_PUBLIC_SUPABASE_URL=https://meqnzesuhcxxvuhqdkjt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lcW56ZXN1aGN4eHZ1aHFka2p0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU2MTE2MzksImV4cCI6MjA3MTE4NzYzOX0.CJXTVjhOFaFvVZjXR_CR3FK8ia2oKr8zOQvEIo-vIcA